<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="css/font-awesome.min.css">
      <link rel="stylesheet"  href="css/bootstrap.min.css">
      <link rel="stylesheet"  href="css/m1.css">
   <script src="css/bootstrap.min.js"> </script>
    <style>

        body        { padding-top:80px; }
    </style>
</head>
<body>
<div class="container">

    <div style="background-image:tech.jpe" class="jumbotron text-center">
        <h1><span style="color:rgb(118, 215, 234)"class="fa fa-lock" ></span> <font color="red">Access Node  </font></h1>
        <span style="color:white"class="fa fa-cog  fa-spin fa-5x"></span> 
        <p><font color="red">Login</font> <font color="green">or</font><font color="yellow"> Register </font><font color="orange">with:</font></p>

        <a href="/auth/login" class="btn btn-success"><span class="fa fa-user"></span> Local Login</a>
        <a href="/auth/signup" class="btn btn-warning"><span class="fa fa-user"></span> Local Signup</a>
        <a href="/auth/admin-login" class="btn btn-danger"><span class="fa fa-user"></span> Admin Login</a>

    </div>

</div>
</body>
</html>